In [1]:
#Alejandro Gonzalez alejandro.gonzalez10@utp.ac.pa
#Jordy Rosales jordy.rosales@utp.ac.pa
#Alfonso Rodriguez alfonso.rodriguez1@ut.ac.pa

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neural_network import MLPRegressor

In [3]:
 #Guardar el archivo CSV en la varible data.
x=pd.read_csv("Source/datosclima_verano2016.csv", names=('Direccion del viento','Velocidad del viento', '% de Humedad', 'Temperatura','Lluvia', 'Presion atmosferica','Potencia', 'Intensidad luminica'))
x

,Direccion del viento,Velocidad del viento,% de Humedad,Temperatura,Lluvia,Presion atmosferica,Potencia,Intensidad luminica
0,180,0.0,72,17.000,0,30.1,4,63
1,171,0.0,72,17.056,0,30.1,4,63
2,136,1.9,72,17.111,0,30.1,4,63
3,138,1.9,71,17.111,0,30.1,4,63
4,171,1.9,72,17.000,0,30.1,4,63
...,...,...,...,...,...,...,...,...
7995,140,2.5,64,21.889,0,29.9,4,8
7996,143,2.7,65,21.833,0,29.9,4,8
7997,154,2.8,65,21.833,0,29.9,4,8
7998,154,3.2,65,21.833,0,29.9,4,8
7999,151,3.1,65,21.722,0,29.9,4,8

In [4]:
x.isnull().values.any()  #Validar si hay datos NaN

False

In [5]:
type(x['Velocidad del viento'][0])  #Validar el tipo de los datos

numpy.float64

In [6]:
x=x.drop(labels=['Direccion del viento','Lluvia','Potencia','Intensidad luminica'], axis=1) #Eliminar las columnas innecesarias.
x

      Velocidad del viento  % de Humedad  Temperatura  Presion atmosferica
0                      0.0            72       17.000                 30.1
1                      0.0            72       17.056                 30.1
2                      1.9            72       17.111                 30.1
3                      1.9            71       17.111                 30.1
4                      1.9            72       17.000                 30.1
...                    ...           ...          ...                  ...
7995                   2.5            64       21.889                 29.9
7996                   2.7            65       21.833                 29.9
7997                   2.8            65       21.833                 29.9
7998                   3.2            65       21.833                 29.9
7999                   3.1            65       21.722                 29.9

[8000 rows x 4 columns]

In [7]:
y=pd.read_csv("Source/saturacion.csv", names=('rocio',)) #Leer el CSV para almacenar Y.
y

       rocio
0     11.906
1     11.959
2     12.013
3     11.800
4     11.906
...      ...
7995  14.760
7996  14.948
7997  14.948
7998  14.948
7999  14.843

[8000 rows x 1 columns]

In [8]:
x.isnull().values.any() #Validar si hay datos NaN.

False

In [9]:
type(y['rocio'][0]) #Validar si el tipo de datos es numerico.

numpy.float64

In [10]:
modelo=MLPRegressor(hidden_layer_sizes=(1,10), max_iter=1000)  #Creacion del modelo.
modelo.fit(x.values,y.values.ravel())   #Ingresar los datos al modelo.

MLPRegressor(hidden_layer_sizes=(1, 10), max_iter=1000)

In [11]:
score = modelo.score(x.values, y.values)  #Obtener el desempeño del modelo.
print("Score:", score)

Score: 0.977122800868553

In [12]:
test_data=[[2.2,63,22.11,29.90]]  #Crear la data de testeo
rocio_predict=modelo.predict(test_data)  #Ingresarlo al modelo.
print(rocio_predict)

[14.19855533]

In [13]:
dato_real=14.72
error = abs(rocio_predict - dato_real)  #Obtener el error en la predicción.
print(error)

[0.52144467]

### La prediccion del modelo se aproxima bastante a la respuesta real. Cada vez que se compila el modelo, el resultado cambia, por lo que no se puede obtener un valor constante para el mismo.